<div class="main-div">
  <div class="topnav">
    <a routerLink="/home">Home</a>
    <!-- <a routerLink="/contact-us">Contact</a> -->
    <a routerLink="/about-page" class="active">About</a>

    <span class="connect">
      <a routerLink="/create-blog">
        <p id="navItem">Write Blog</p>
      </a>
      <a routerLink="/profile">
        <p id="navItem">Profile</p> </a
      ><br />
    </span>
  </div>
<div class="about-section">
  <h1>About Us</h1>
  <p>
    We are a team of passionate developers who love building web applications.
  </p>
  <p>
    We are always looking for new ways to improve our skills and knowledge, and
    we are always up for a challenge.
  </p>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Shubham Kaspate</h2>
        <p class="title">Developer</p>
        <p>Building websites that are both modern and functional. Worked on both front-end and Back-end part of project</p>
        <p>shubhamkaspate213@gmail.com</p>
        <p>
          <a class="button" href="mailto:shubhamkaspate213@gmail.com">Contact</a>
        </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Yogesh Yenage</h2>
        <p class="title">Front-end Developer</p>
        <p>Front-end developer building a beautiful and engaging website.</p>
        <p>yengeyogesh3951@gmail.com</p>
        <p>
          <a class="button" href="mailto:yengeyogesh3951@gmail.com">Contact</a>
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Shubham Pawar</h2>
        <p class="title">Back-end Developer</p>
        <p>Back-end developer building a robust and scalable API.</p>
        <p>shubhampawar84958@gmail.com</p>
        <p>
          <a class="button" href="mailto:shubhampawar84958@gmail.com"
            >Contact</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
</div>
